{% extends "base.twig" %}

{% block content %}
	<div id="console" style="position: fixed; top: 0; right: 0; padding: 3px; background:#000; color: #fff; z-index: 99;"></div>
	<div class="hero">
		<div class="bg hero-bg" style="background-image: url({{ theme.path }}/static/img/hero-ph.jpg);" rel="fullscreen"></div>
		<div class="hero-content">
			<h1>All Ameri<span class="strikethrough">kkk</span>an Bada$$</h1>
			<a href="#">Listen Now</a>
		</div>
	</div>
	<div class="content-wrapper amerikan-bg">
		<canvas id="wavyCanvas"></canvas>
		<img id="flagsrc" data-src="{{theme.path}}/static/img/american-bg-sm.jpg" alt="">
		<div class="inner-wrapper">
			<div class="row">
				<div class="small-12 medium-12 large-8 small-centered column text-center">
					<h2>JOEY BADA$$ TOUR</h2>
					<table class="tourdates">
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
					</table>
					<div class="red more-dates">
						<span>* more tour dates </span>
						<div>to be annouced soon!</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
