{% extends "base.twig" %}

{% block content %}
	<div class="hero single-hero">
		<div class="hero-video">
		    <iframe src="https://www.youtube.com/embed/{{post.get_field('youtube_code')}}?autoplay=1&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="content-wrapper">
		<div class="row">
			{% if title %}<h1 class="archive-title text-center">More {{title}}</h1>{% endif %}
			<div class="small-12 column small-up-1 medium-up-2 large-up-3">
				{% for post in posts %}
					<div class="column">
						{% include 'archive-item.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
