
<div class="text-center">
  {% include 'subscribe-modal.twig' %}
  {% include 'social-links.twig' %}
  <div class="row column text-center">
    <i class="fa fa-copyright"></i> {{"now"|date('Y')}}
  </div>
</div>
