<div class="hero-video">
    <iframe src="https://player.vimeo.com/video/207374872?color=fff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
