<div class="hero-video row">
    <div class="small-12 column">
      <iframe src="https://www.youtube.com/embed/TeQW-9Cg8qs?autoplay=1&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
