<div class="slider">
  <div class="slide" style="background-size: cover; background-url:({{theme.path}}/static/img/joey_music_billboard.jpg); width: 100%; max-width: none;" src="{{theme.path}}/static/img/joey_music_billboard.jpg" alt="" class="slide-image">
    <img style="visibility:hidden" src="{{theme.path}}/static/img/joey_music_billboard.jpg" alt="" class="slide-image">
    <div class="slide-content">
      <h2 class="slide-title">Music</h2>
<!--
      <h3 class="slide-byline">Subtitle</h3>
      <a href="#" class="slide-link">More</a>
-->
    </div>
  </div>
<!--
  <div class="slide">
    <img style="width: 100%; max-width: none;" src="http://unsplash.it/1280/600.jpg" alt="" class="slide-image">
    <div class="slide-content">
      <h2 class="slide-title">Title</h2>
      <h3 class="slide-byline">Subtitle</h3>
      <a href="#" class="slide-link">More</a>
    </div>
  </div>
  <div class="slide">
    <img style="width: 100%; max-width: none;" src="http://unsplash.it/1280/600.jpg" alt="" class="slide-image">
    <div class="slide-content">
      <h2 class="slide-title">Title</h2>
      <h3 class="slide-byline">Subtitle</h3>
      <a href="#" class="slide-link">More</a>
    </div>
  </div>
-->
</div>
