<ul class="social menu simple">
  <li><a target="_blank" class="def-link" title="Joey Badass on Facebook" href="https://www.facebook.com/fckingbadass"><i class="fa fa-facebook"></i></a></li>
  <li><a target="_blank" class="def-link" title="Joey Badass on Twitter"  href="https://twitter.com/joeybadass"><i class="fa fa-twitter"></i></a></li>
  <li><a target="_blank" class="def-link" title="Joey Badass on Soundcloud"  href="https://soundcloud.com/joeybadass"><i class="fa fa-soundcloud"></i></a></li>
  <li><a target="_blank" class="def-link" title="Joey Badass on Instagram"  href="https://www.instagram.com/joeybadass"><i class="fa fa-instagram"></i></a></li>
</ul>
