<div class="subscribe">
  <div class="block">
    <a class="subscribe-open" data-open="subscribe-modal">SUBSCRIBE</a>
  </div>
</div>


<div class="reveal" id="subscribe-modal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button" style="float: right;">
    <span aria-hidden="true">&times;</span>
  </button>
  <p style="font-weight: bold;text-transform: uppercase;">Sign-up for exclusive content.</p>
  <form action="https://list.cinematicaffairs.com/t/y/s/vner/" method="post" id="subForm">
      <p>
          <label for="fieldName">Name</label>
          <input id="fieldName" name="cm-name" type="text" />
      </p>
      <p>
          <label for="fieldEmail">Email</label>
          <input id="fieldEmail" name="cm-vner-vner" type="email" required />
      </p>
      <p>
          <label for="fieldatink">City</label>
          <input id="fieldatink" name="cm-f-atink" type="text" />
      </p>
      <p>
          <label for="fieldatinu">State</label>
          <select id="fieldatinu" name="cm-fo-atinu">
              <option value=""></option>
              <option value="997809">Alabama</option>
              <option value="997810">Alaska</option>
              <option value="997811">Arizona</option>
              <option value="997812">Arkansas</option>
              <option value="997813">California</option>
              <option value="997814">Colorado</option>
              <option value="997815">Connecticut</option>
              <option value="997816">Delaware</option>
              <option value="997817">District of Columbia</option>
              <option value="997818">Florida</option>
              <option value="997819">Georgia</option>
              <option value="997820">Hawaii</option>
              <option value="997821">Idaho</option>
              <option value="997822">Illinois</option>
              <option value="997823">Indiana</option>
              <option value="997824">Iowa</option>
              <option value="997825">Kansas</option>
              <option value="997826">Kentucky</option>
              <option value="997827">Louisiana</option>
              <option value="997828">Maine</option>
              <option value="997829">Maryland</option>
              <option value="997830">Massachusetts</option>
              <option value="997831">Michigan</option>
              <option value="997832">Minnesota</option>
              <option value="997833">Mississippi</option>
              <option value="997834">Missouri</option>
              <option value="997835">Montana</option>
              <option value="997836">Nebraska</option>
              <option value="997837">Nevada</option>
              <option value="997838">New Hampshire</option>
              <option value="997839">New Jersey</option>
              <option value="997840">New Mexico</option>
              <option value="997841">New York</option>
              <option value="997842">North Carolina</option>
              <option value="997843">North Dakota</option>
              <option value="997844">Ohio</option>
              <option value="997845">Oklahoma</option>
              <option value="997846">Oregon</option>
              <option value="997847">Pennsylvania</option>
              <option value="997848">Rhode Island</option>
              <option value="997849">South Carolina</option>
              <option value="997850">South Dakota</option>
              <option value="997851">Tennessee</option>
              <option value="997852">Texas</option>
              <option value="997853">Utah</option>
              <option value="997854">Vermont</option>
              <option value="997855">Virginia</option>
              <option value="997856">Washington</option>
              <option value="997857">West Virginia</option>
              <option value="997858">Wisconsin</option>
              <option value="997859">Wyoming</option>
          </select>
      </p>
      <p>
          <label for="fieldatipl">Country</label>
          <select id="fieldatipl" name="cm-fo-atipl">
              <option value=""></option>
              <option value="997860">Afghanistan</option>
              <option value="997861">Albania</option>
              <option value="997862">Algeria</option>
              <option value="997863">American Samoa</option>
              <option value="997864">Andorra</option>
              <option value="997865">Angola</option>
              <option value="997866">Anguilla</option>
              <option value="997867">Antigua &amp; Barbuda</option>
              <option value="997868">Argentina</option>
              <option value="997869">Armenia</option>
              <option value="997870">Aruba</option>
              <option value="997871">Australia</option>
              <option value="997872">Austria</option>
              <option value="997873">Azerbaijan</option>
              <option value="997874">Azores</option>
              <option value="997875">Bahamas</option>
              <option value="997876">Bahrain</option>
              <option value="997877">Bangladesh</option>
              <option value="997878">Barbados</option>
              <option value="997879">Belarus</option>
              <option value="997880">Belgium</option>
              <option value="997881">Belize</option>
              <option value="997882">Benin</option>
              <option value="997883">Bermuda</option>
              <option value="997884">Bhutan</option>
              <option value="997885">Bolivia</option>
              <option value="997886">Bonaire</option>
              <option value="997887">Bosnia &amp; Herzegovina</option>
              <option value="997888">Botswana</option>
              <option value="997889">Brazil</option>
              <option value="997890">British Indian Ocean Ter</option>
              <option value="997891">Brunei</option>
              <option value="997892">Bulgaria</option>
              <option value="997893">Burkina Faso</option>
              <option value="997894">Burundi</option>
              <option value="997895">Cambodia</option>
              <option value="997896">Cameroon</option>
              <option value="997897">Canada</option>
              <option value="997898">Canary Islands</option>
              <option value="997899">Cape Verde</option>
              <option value="997900">Cayman Islands</option>
              <option value="997901">Central African Republic</option>
              <option value="997902">Chad</option>
              <option value="997903">Channel Islands</option>
              <option value="997904">Chile</option>
              <option value="997905">China</option>
              <option value="997906">Christmas Island</option>
              <option value="997907">Cocos Island</option>
              <option value="997908">Colombia</option>
              <option value="997909">Comoros</option>
              <option value="997910">Congo</option>
              <option value="997911">Congo Democratic Rep</option>
              <option value="997912">Cook Islands</option>
              <option value="997913">Costa Rica</option>
              <option value="997914">Cote D&#x27;Ivoire</option>
              <option value="997915">Croatia</option>
              <option value="997916">Cuba</option>
              <option value="997917">Curacao</option>
              <option value="997918">Cyprus</option>
              <option value="997919">Czech Republic</option>
              <option value="997920">Denmark</option>
              <option value="997921">Djibouti</option>
              <option value="997922">Dominica</option>
              <option value="997923">Dominican Republic</option>
              <option value="997924">East Timor</option>
              <option value="997925">Ecuador</option>
              <option value="997926">Egypt</option>
              <option value="997927">El Salvador</option>
              <option value="997928">Equatorial Guinea</option>
              <option value="997929">Eritrea</option>
              <option value="997930">Estonia</option>
              <option value="997931">Ethiopia</option>
              <option value="997932">Falkland Islands</option>
              <option value="997933">Faroe Islands</option>
              <option value="997934">Fiji</option>
              <option value="997935">Finland</option>
              <option value="997936">France</option>
              <option value="997937">French Guiana</option>
              <option value="997938">French Polynesia</option>
              <option value="997939">French Southern Ter</option>
              <option value="997940">Gabon</option>
              <option value="997941">Gambia</option>
              <option value="997942">Georgia</option>
              <option value="997943">Germany</option>
              <option value="997944">Ghana</option>
              <option value="997945">Gibraltar</option>
              <option value="997946">Great Britain</option>
              <option value="997947">Greece</option>
              <option value="997948">Greenland</option>
              <option value="997949">Grenada</option>
              <option value="997950">Guadeloupe</option>
              <option value="997951">Guam</option>
              <option value="997952">Guatemala</option>
              <option value="997953">Guernsey</option>
              <option value="997954">Guinea</option>
              <option value="997955">Guinea-Bissau</option>
              <option value="997956">Guyana</option>
              <option value="997957">Haiti</option>
              <option value="997958">Honduras</option>
              <option value="997959">Hong Kong</option>
              <option value="997960">Hungary</option>
              <option value="997961">Iceland</option>
              <option value="997962">India</option>
              <option value="997963">Indonesia</option>
              <option value="997964">Iran</option>
              <option value="997965">Iraq</option>
              <option value="997966">Ireland</option>
              <option value="997967">Isle of Man</option>
              <option value="997968">Israel</option>
              <option value="997969">Italy</option>
              <option value="997970">Jamaica</option>
              <option value="997971">Japan</option>
              <option value="997972">Jersey</option>
              <option value="997973">Jordan</option>
              <option value="997974">Kazakhstan</option>
              <option value="997975">Kenya</option>
              <option value="997976">Kiribati</option>
              <option value="997977">Korea North</option>
              <option value="997978">Korea South</option>
              <option value="997979">Kuwait</option>
              <option value="997980">Kyrgyzstan</option>
              <option value="997981">Laos</option>
              <option value="997982">Latvia</option>
              <option value="997983">Lebanon</option>
              <option value="997984">Lesotho</option>
              <option value="997985">Liberia</option>
              <option value="997986">Libya</option>
              <option value="997987">Liechtenstein</option>
              <option value="997988">Lithuania</option>
              <option value="997989">Luxembourg</option>
              <option value="997990">Macau</option>
              <option value="997991">Macedonia</option>
              <option value="997992">Madagascar</option>
              <option value="997993">Malawi</option>
              <option value="997994">Malaysia</option>
              <option value="997995">Maldives</option>
              <option value="997996">Mali</option>
              <option value="997997">Malta</option>
              <option value="997998">Marshall Islands</option>
              <option value="997999">Martinique</option>
              <option value="998000">Mauritania</option>
              <option value="998001">Mauritius</option>
              <option value="998002">Mayotte</option>
              <option value="998003">Mexico</option>
              <option value="998004">Midway Islands</option>
              <option value="998005">Moldova</option>
              <option value="998006">Monaco</option>
              <option value="998007">Mongolia</option>
              <option value="998008">Montenegro</option>
              <option value="998009">Montserrat</option>
              <option value="998010">Morocco</option>
              <option value="998011">Mozambique</option>
              <option value="998012">Myanmar</option>
              <option value="998013">Namibia</option>
              <option value="998014">Nauru</option>
              <option value="998015">Nepal</option>
              <option value="998016">Netherland Antilles</option>
              <option value="998017">Netherlands</option>
              <option value="998018">Nevis</option>
              <option value="998019">New Caledonia</option>
              <option value="998020">New Zealand</option>
              <option value="998021">Nicaragua</option>
              <option value="998022">Niger</option>
              <option value="998023">Nigeria</option>
              <option value="998024">Niue</option>
              <option value="998025">Norfolk Island</option>
              <option value="998026">Norway</option>
              <option value="998027">Oman</option>
              <option value="998028">Pakistan</option>
              <option value="998029">Palau Island</option>
              <option value="998030">Palestine</option>
              <option value="998031">Panama</option>
              <option value="998032">Papua New Guinea</option>
              <option value="998033">Paraguay</option>
              <option value="998034">Peru</option>
              <option value="998035">Philippines</option>
              <option value="998036">Pitcairn Island</option>
              <option value="998037">Poland</option>
              <option value="998038">Portugal</option>
              <option value="998039">Puerto Rico</option>
              <option value="998040">Qatar</option>
              <option value="998041">Reunion</option>
              <option value="998042">Romania</option>
              <option value="998043">Russia</option>
              <option value="998044">Rwanda</option>
              <option value="998045">Saipan</option>
              <option value="998046">Samoa</option>
              <option value="998047">Samoa American</option>
              <option value="998048">San Marino</option>
              <option value="998049">Sao Tome &amp; Principe</option>
              <option value="998050">Saudi Arabia</option>
              <option value="998051">Senegal</option>
              <option value="998052">Serbia</option>
              <option value="998053">Serbia &amp; Montenegro</option>
              <option value="998054">Seychelles</option>
              <option value="998055">Sierra Leone</option>
              <option value="998056">Singapore</option>
              <option value="998057">Slovakia</option>
              <option value="998058">Slovenia</option>
              <option value="998059">Solomon Islands</option>
              <option value="998060">Somalia</option>
              <option value="998061">South Africa</option>
              <option value="998062">South Sudan</option>
              <option value="998063">Spain</option>
              <option value="998064">Sri Lanka</option>
              <option value="998065">St Barthelemy</option>
              <option value="998066">St Eustatius</option>
              <option value="998067">St Helena</option>
              <option value="998068">St Kitts-Nevis</option>
              <option value="998069">St Lucia</option>
              <option value="998070">St Maarten</option>
              <option value="998071">St Pierre &amp; Miquelon</option>
              <option value="998072">St Vincent &amp; Grenadines</option>
              <option value="998073">Sudan</option>
              <option value="998074">Suriname</option>
              <option value="998075">Swaziland</option>
              <option value="998076">Sweden</option>
              <option value="998077">Switzerland</option>
              <option value="998078">Syria</option>
              <option value="998079">Tahiti</option>
              <option value="998080">Taiwan</option>
              <option value="998081">Tajikistan</option>
              <option value="998082">Tanzania</option>
              <option value="998083">Thailand</option>
              <option value="998084">Togo</option>
              <option value="998085">Tokelau</option>
              <option value="998086">Tonga</option>
              <option value="998087">Trinidad &amp; Tobago</option>
              <option value="998088">Tunisia</option>
              <option value="998089">Turkey</option>
              <option value="998090">Turkmenistan</option>
              <option value="998091">Turks &amp; Caicos Is</option>
              <option value="998092">Tuvalu</option>
              <option value="998093">Uganda</option>
              <option value="998094">Ukraine</option>
              <option value="998095">United Arab Emirates</option>
              <option value="998096">United Kingdom</option>
              <option value="998097">United States of America</option>
              <option value="998098">Uruguay</option>
              <option value="998099">Uzbekistan</option>
              <option value="998100">Vanuatu</option>
              <option value="998101">Vatican City State</option>
              <option value="998102">Venezuela</option>
              <option value="998103">Vietnam</option>
              <option value="998104">Virgin Islands (Brit)</option>
              <option value="998105">Virgin Islands (USA)</option>
              <option value="998106">Wake Island</option>
              <option value="998107">Wallis &amp; Futana Is</option>
              <option value="998108">Yemen</option>
              <option value="998109">Zambia</option>
              <option value="998110">Zimbabwe</option>
          </select>
      </p>
      <p style="text-align: right; margin: 10px 0; font-family: 'RoundslabSerif', serif;">
          <input style="margin-top: 10px; font-family: 'RoundslabSerif', serif;" type="submit" class="button submit" />
      </p>
  </form>
</div>
